In [33]:
# - Querying three files from the PostgreSQL database 
# - Files are done by web scraping and now is been formed into one list

In [34]:
import pandas as pd
import sqlalchemy
import getpass

In [35]:
file_path = r'C:\Users\vaino\Desktop\Python_jupyter\Fastest_List.csv'

In [36]:
# - Crate variables to hold credentials for the database connection
# - Create engine to thee database
# - HINT! password is 12345 :)

table_name = 'fastest_list'
db_user = 'postgres'
db_password = getpass.getpass("Enter Password")
db_host = 'localhost'
db_port = '5432'
db_name = 'postgres'

credentials = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = sqlalchemy.create_engine(credentials)

Enter Password ········

In [37]:
query_cars = 'SELECT * FROM fastest_cars;'
query_animals = 'SELECT * FROM fastest_animals;'
query_tennis = 'SELECT * FROM fastest_tennis;'

In [38]:
df_cars = pd.read_sql_query(query_cars, engine)
df_animals = pd.read_sql_query(query_animals, engine)
df_tennis = pd.read_sql_query(query_tennis, engine)
engine.dispose()

In [39]:
# - Look at the number of columns and rows of each dataframe
# - We want to take the top 20 ranked of each dataframe

print(df_cars.shape)
print(df_animals.shape)
print(df_tennis.shape)

(100, 4)
(20, 5)
(52, 4)

In [40]:
df_cars = df_cars.head(20)
df_animals = df_animals.head(20)
df_tennis = df_tennis.head(20)

In [41]:
# - Take a look at each dataframe and get them ready to concat
df_cars.head()

  Rank Top speed        Make               Model
0   1.  447 km/h  Koenigsegg      Agera RS (1MW)
1   2.  443 km/h  Koenigsegg             Agera R
2   3.  440 km/h     Bugatti  Chiron Super Sport
3   4.  437 km/h         9ff            GT9 Vmax
4   5.  437 km/h  Koenigsegg               One:1

In [42]:
df_animals.head()

,Rank,Animal,Class,Notes,Maximum Speed
0,1,Peregrine falcon,Flight-diving,The peregrine falcon is the fastest aerial ani...,389 km/h
1,2,Golden eagle,Flight-diving,"Assuming the maximum size at 1.02 m, its relat...",240–320 km/h
2,3,White-throated needletail swift,Flight,,169 km/h
3,4,Eurasian hobby,Flight,Can sometimes outfly theswift.,160 km/h
4,5,Mexican free-tailed bat,Flight,It has been claimed to have the fastest horizo...,160 km/h

In [43]:
df_tennis.head()

  Rank Country           Player       Speed
0    1     AUS        Sam Groth    263 km/h
1    2     FRA  Albano Olivetti  257.5 km/h
2    3     USA       John Isner    253 km/h
3    4     HRV     Ivo Karlović  251.1 km/h
4    4     POL   Jerzy Janowicz  251.1 km/h

In [44]:
# - df_cars
# - We wil merge the columns 'Make' and 'Model' into 'Name'
# - We will also create new column 'Specification' including the specification of the species (car)

df_cars['Name'] = df_cars['Make'] + ' ' + df_cars['Model']
df_cars = df_cars.drop(['Make', 'Model'], axis=1)
df_cars = df_cars.rename(columns={'Top speed':'Top Speed'})

df_cars['Specification'] = 'Car'
df_cars.head(2)

  Rank Top Speed                       Name Specification
0   1.  447 km/h  Koenigsegg Agera RS (1MW)           Car
1   2.  443 km/h         Koenigsegg Agera R           Car

In [45]:
# - df_animals
# - We will drop column 'Notes'
# - Change columns 'Animal' and 'Maximum Speed' into 'Name' and 'Top Speed'
# - Finaly we will change column 'Class' into 'Specification'

df_animals = df_animals.drop('Notes', axis=1)
df_animals = df_animals.rename(columns={'Maximum Speed': 'Top Speed', 'Animal': 'Name', 'Class': 'Specification'})
df_animals.head(2)

  Rank              Name  Specification     Top Speed
0    1  Peregrine falcon  Flight-diving      389 km/h
1    2      Golden eagle  Flight-diving  240–320 km/h

In [46]:
# - df_tennis
# - Drop column 'Country'
# - Rename columns 'Player' and 'Speed' into 'Name' and 'Top Speed
# - Add column 'Specification' and add 'Tennis ball' to all rows

df_tennis = df_tennis.drop('Country', axis=1)
df_tennis = df_tennis.rename(columns={'Player': 'Name', 'Speed': 'Top Speed'})
df_tennis['Specification'] = 'Tennis ball'
df_tennis.head()

  Rank             Name   Top Speed Specification
0    1        Sam Groth    263 km/h   Tennis ball
1    2  Albano Olivetti  257.5 km/h   Tennis ball
2    3       John Isner    253 km/h   Tennis ball
3    4     Ivo Karlović  251.1 km/h   Tennis ball
4    4   Jerzy Janowicz  251.1 km/h   Tennis ball

In [47]:
# - Merge the dataframes

df = pd.concat([df_cars, df_animals, df_tennis], ignore_index=True)

In [48]:
# - Check the dataframe

df = df.sort_values(by='Top Speed', ascending=False)
df.reset_index(drop=True, inplace=True)
df

   Rank         Top Speed                                Name    Specification
0    13        98.27 km/h                  Anna's hummingbird           Flight
1    14           97 km/h                           Swordfish         Swimming
2    15           90 km/h                             Ostrich             Land
3    18         88.5 km/h                       Quarter Horse             Land
4    16         88.5 km/h                           Pronghorn             Land
5    17           88 km/h                           Springbok             Land
6    19         80.5 km/h                     Blue wildebeest             Land
7    20         80.5 km/h                   Thomson's gazelle             Land
8    1.          447 km/h           Koenigsegg Agera RS (1MW)              Car
9    2.          443 km/h                  Koenigsegg Agera R              Car
10   3.          440 km/h          Bugatti Chiron Super Sport              Car
11   4.          437 km/h                        9ff GT9 Vmax              Car
12   5.          437 km/h                    Koenigsegg One:1              Car
13   6.          435 km/h                  Hennessey Venom GT              Car
14   7.          435 km/h   Hennessey Venom GT '16 (facelift)              Car
15   8.          434 km/h     Bugatti Veyron 16.4 Super Sport              Car
16   9.          432 km/h                         Czinger 21C              Car
17  10.          430 km/h                Fahlke Larea GT1 S12              Car
18  12.          420 km/h                Bugatti Chiron Sport              Car
19  13.          420 km/h                    Koenigsegg Agera              Car
20  11.          420 km/h                      Bugatti Chiron              Car
21  14.          415 km/h                        Rimac Nevera              Car
22  15.          414 km/h                           9ff GT9-R              Car
23  16.          411 km/h                SSC Ultimate Aero TT              Car
24  17.          411 km/h                             9ff GT9              Car
25  19.          410 km/h  Bugatti Veyron Grand Sport Vitesse              Car
26  18.          410 km/h                   Koenigsegg Regera              Car
27  20.          407 km/h              Bugatti EB 16.4 Veyron              Car
28    1          389 km/h                    Peregrine falcon    Flight-diving
29    1          263 km/h                           Sam Groth      Tennis ball
30    2        257.5 km/h                     Albano Olivetti      Tennis ball
31    3          253 km/h                          John Isner      Tennis ball
32    4        251.1 km/h                        Ivo Karlović      Tennis ball
33    4        251.1 km/h                      Jerzy Janowicz      Tennis ball
34    5        250.0 km/h                        Milos Raonic      Tennis ball
35    6        249.4 km/h                        Andy Roddick      Tennis ball
36    7        248.0 km/h                      Chris Guccione      Tennis ball
37    8        244.6 km/h                   Joachim Johansson      Tennis ball
38    8        244.6 km/h                     Feliciano López      Tennis ball
39    9        244.0 km/h                        Marius Copil      Tennis ball
40   10        243.0 km/h                      Hubert Hurkacz      Tennis ball
41   10        243.0 km/h                          Oscar Otte      Tennis ball
42   11        241.4 km/h                         Taylor Dent      Tennis ball
43    2      240–320 km/h                        Golden eagle    Flight-diving
44   12        240.3 km/h                      Ernests Gulbis      Tennis ball
45   13        240.0 km/h               Juan Martín del Potro      Tennis ball
46   14        239.8 km/h                       Greg Rusedski      Tennis ball
47   14        239.8 km/h                         Ben Shelton      Tennis ball
48   15        237.0 km/h                     Dmitry Tursunov      Tennis ball
49   15        237.0 km/h                         Marat Safin      Tennis ball
50    3          169 km/h     White-throated needletail swift           Flight
51    5          160 km/h             Mexican free-tailed bat           Flight
52    4          160 km/h                      Eurasian hobby           Flight
53    6          153 km/h                         Frigatebird           Flight
54    7        148.9 km/h                   Rock dove(pigeon)           Flight
55    8          142 km/h                   Spur-winged goose           Flight
56    9          128 km/h                           Gyrfalcon           Flight
57   10          127 km/h               Grey-headed albatross           Flight
58   11  109.4–120.7 km/h                             Cheetah             Land
59   12       109.19 km/h                            Sailfish  Flight-swimming

In [49]:
df['Top Speed'].unique()

array(['98.27 km/h', '97 km/h', '90 km/h', '88.5 km/h', '88 km/h',
       '80.5 km/h', '447 km/h', '443 km/h', '440 km/h', '437 km/h',
       '435 km/h', '434 km/h', '432 km/h', '430 km/h', '420 km/h',
       '415 km/h', '414 km/h', '411 km/h', '410 km/h', '407 km/h',
       '389 km/h', '263 km/h', '257.5 km/h', '253 km/h', '251.1 km/h',
       '250.0 km/h', '249.4 km/h', '248.0 km/h', '244.6 km/h',
       '244.0 km/h', '243.0 km/h', '241.4 km/h', '240–320 km/h',
       '240.3 km/h', '240.0 km/h', '239.8 km/h', '237.0 km/h', '169 km/h',
       '160 km/h', '153 km/h', '148.9 km/h', '142 km/h', '128 km/h',
       '127 km/h', '109.4–120.7 km/h', '109.19 km/h'], dtype=object)

In [50]:
# - Replace values with '-' and use number after it

df.loc[df['Top Speed'] == '240–320 km/h', 'Top Speed'] = '320 km/h'
df.loc[df['Top Speed'] == '109.4–120.7 km/h', 'Top Speed'] = '120.7 km/h'

In [51]:
# - Slice the column 'Top Speed' to show only the number value of Top Speed
# - Create a blank column containing 'km/h'
# - Change order of columns

df['Top Speed'] = df['Top Speed'].str.extract(r'(\d+)').astype(float).astype('Int64')
df[' '] = 'km/h'
df = df.sort_values(by='Top Speed', ascending=False)

column_order = ['Rank', 'Name', 'Specification', 'Top Speed', ' ']
df = df[column_order]
df

   Rank                                Name    Specification  Top Speed
8    1.           Koenigsegg Agera RS (1MW)              Car        447  km/h
9    2.                  Koenigsegg Agera R              Car        443  km/h
10   3.          Bugatti Chiron Super Sport              Car        440  km/h
11   4.                        9ff GT9 Vmax              Car        437  km/h
12   5.                    Koenigsegg One:1              Car        437  km/h
14   7.   Hennessey Venom GT '16 (facelift)              Car        435  km/h
13   6.                  Hennessey Venom GT              Car        435  km/h
15   8.     Bugatti Veyron 16.4 Super Sport              Car        434  km/h
16   9.                         Czinger 21C              Car        432  km/h
17  10.                Fahlke Larea GT1 S12              Car        430  km/h
20  11.                      Bugatti Chiron              Car        420  km/h
19  13.                    Koenigsegg Agera              Car        420  km/h
18  12.                Bugatti Chiron Sport              Car        420  km/h
21  14.                        Rimac Nevera              Car        415  km/h
22  15.                           9ff GT9-R              Car        414  km/h
23  16.                SSC Ultimate Aero TT              Car        411  km/h
24  17.                             9ff GT9              Car        411  km/h
26  18.                   Koenigsegg Regera              Car        410  km/h
25  19.  Bugatti Veyron Grand Sport Vitesse              Car        410  km/h
27  20.              Bugatti EB 16.4 Veyron              Car        407  km/h
28    1                    Peregrine falcon    Flight-diving        389  km/h
43    2                        Golden eagle    Flight-diving        320  km/h
29    1                           Sam Groth      Tennis ball        263  km/h
30    2                     Albano Olivetti      Tennis ball        257  km/h
31    3                          John Isner      Tennis ball        253  km/h
33    4                      Jerzy Janowicz      Tennis ball        251  km/h
32    4                        Ivo Karlović      Tennis ball        251  km/h
34    5                        Milos Raonic      Tennis ball        250  km/h
35    6                        Andy Roddick      Tennis ball        249  km/h
36    7                      Chris Guccione      Tennis ball        248  km/h
39    9                        Marius Copil      Tennis ball        244  km/h
38    8                     Feliciano López      Tennis ball        244  km/h
37    8                   Joachim Johansson      Tennis ball        244  km/h
40   10                      Hubert Hurkacz      Tennis ball        243  km/h
41   10                          Oscar Otte      Tennis ball        243  km/h
42   11                         Taylor Dent      Tennis ball        241  km/h
45   13               Juan Martín del Potro      Tennis ball        240  km/h
44   12                      Ernests Gulbis      Tennis ball        240  km/h
46   14                       Greg Rusedski      Tennis ball        239  km/h
47   14                         Ben Shelton      Tennis ball        239  km/h
48   15                     Dmitry Tursunov      Tennis ball        237  km/h
49   15                         Marat Safin      Tennis ball        237  km/h
50    3     White-throated needletail swift           Flight        169  km/h
51    5             Mexican free-tailed bat           Flight        160  km/h
52    4                      Eurasian hobby           Flight        160  km/h
53    6                         Frigatebird           Flight        153  km/h
54    7                   Rock dove(pigeon)           Flight        148  km/h
55    8                   Spur-winged goose           Flight        142  km/h
56    9                           Gyrfalcon           Flight        128  km/h
57   10               Grey-headed albatross           Flight        127  km/h
58   11                             Cheetah             Land        120  km/h
59   12                            Sailfish  Flight-swimming        109  km/h
0    13                  Anna's hummingbird           Flight         98  km/h
1    14                           Swordfish         Swimming         97  km/h
2    15                             Ostrich             Land         90  km/h
5    17                           Springbok             Land         88  km/h
4    16                           Pronghorn             Land         88  km/h
3    18                       Quarter Horse             Land         88  km/h
7    20                   Thomson's gazelle             Land         80  km/h
6    19                     Blue wildebeest             Land         80  km/h

In [52]:
# - Change specification names

df.loc[df['Specification'] == 'Flight-diving', 'Specification'] = 'Bird'
df.loc[df['Specification'] == 'Flight', 'Specification'] = 'Bird'
df.loc[df['Specification'] == 'Flight-swimming', 'Specification'] = 'Fish'
df.loc[df['Specification'] == 'Swimming', 'Specification'] = 'Fish'
df.loc[df['Specification'] == 'Land', 'Specification'] = 'Land species'

In [53]:
df

   Rank                                Name Specification  Top Speed
8    1.           Koenigsegg Agera RS (1MW)           Car        447  km/h
9    2.                  Koenigsegg Agera R           Car        443  km/h
10   3.          Bugatti Chiron Super Sport           Car        440  km/h
11   4.                        9ff GT9 Vmax           Car        437  km/h
12   5.                    Koenigsegg One:1           Car        437  km/h
14   7.   Hennessey Venom GT '16 (facelift)           Car        435  km/h
13   6.                  Hennessey Venom GT           Car        435  km/h
15   8.     Bugatti Veyron 16.4 Super Sport           Car        434  km/h
16   9.                         Czinger 21C           Car        432  km/h
17  10.                Fahlke Larea GT1 S12           Car        430  km/h
20  11.                      Bugatti Chiron           Car        420  km/h
19  13.                    Koenigsegg Agera           Car        420  km/h
18  12.                Bugatti Chiron Sport           Car        420  km/h
21  14.                        Rimac Nevera           Car        415  km/h
22  15.                           9ff GT9-R           Car        414  km/h
23  16.                SSC Ultimate Aero TT           Car        411  km/h
24  17.                             9ff GT9           Car        411  km/h
26  18.                   Koenigsegg Regera           Car        410  km/h
25  19.  Bugatti Veyron Grand Sport Vitesse           Car        410  km/h
27  20.              Bugatti EB 16.4 Veyron           Car        407  km/h
28    1                    Peregrine falcon          Bird        389  km/h
43    2                        Golden eagle          Bird        320  km/h
29    1                           Sam Groth   Tennis ball        263  km/h
30    2                     Albano Olivetti   Tennis ball        257  km/h
31    3                          John Isner   Tennis ball        253  km/h
33    4                      Jerzy Janowicz   Tennis ball        251  km/h
32    4                        Ivo Karlović   Tennis ball        251  km/h
34    5                        Milos Raonic   Tennis ball        250  km/h
35    6                        Andy Roddick   Tennis ball        249  km/h
36    7                      Chris Guccione   Tennis ball        248  km/h
39    9                        Marius Copil   Tennis ball        244  km/h
38    8                     Feliciano López   Tennis ball        244  km/h
37    8                   Joachim Johansson   Tennis ball        244  km/h
40   10                      Hubert Hurkacz   Tennis ball        243  km/h
41   10                          Oscar Otte   Tennis ball        243  km/h
42   11                         Taylor Dent   Tennis ball        241  km/h
45   13               Juan Martín del Potro   Tennis ball        240  km/h
44   12                      Ernests Gulbis   Tennis ball        240  km/h
46   14                       Greg Rusedski   Tennis ball        239  km/h
47   14                         Ben Shelton   Tennis ball        239  km/h
48   15                     Dmitry Tursunov   Tennis ball        237  km/h
49   15                         Marat Safin   Tennis ball        237  km/h
50    3     White-throated needletail swift          Bird        169  km/h
51    5             Mexican free-tailed bat          Bird        160  km/h
52    4                      Eurasian hobby          Bird        160  km/h
53    6                         Frigatebird          Bird        153  km/h
54    7                   Rock dove(pigeon)          Bird        148  km/h
55    8                   Spur-winged goose          Bird        142  km/h
56    9                           Gyrfalcon          Bird        128  km/h
57   10               Grey-headed albatross          Bird        127  km/h
58   11                             Cheetah  Land species        120  km/h
59   12                            Sailfish          Fish        109  km/h
0    13                  Anna's hummingbird          Bird         98  km/h
1    14                           Swordfish          Fish         97  km/h
2    15                             Ostrich  Land species         90  km/h
5    17                           Springbok  Land species         88  km/h
4    16                           Pronghorn  Land species         88  km/h
3    18                       Quarter Horse  Land species         88  km/h
7    20                   Thomson's gazelle  Land species         80  km/h
6    19                     Blue wildebeest  Land species         80  km/h

In [54]:
# - Write the dataframe into the database using the engine
# - Use the credentials created earlier and remember to dispose the engine

df.to_sql(table_name, engine, if_exists='replace', index=False)

engine.dispose()

In [55]:
# - Write thee dataframe into a XML file located in the path created earlier

df.to_csv(file_path)